<div class="demo-button-container">

  </div>
  
  <div class="w-100">
    <table mat-table [dataSource]="userTokens" class="mat-elevation-z8 demo-table w-100">
      <ng-container matColumnDef="username">
        <th  mat-header-cell *matHeaderCellDef class="text-center">Username</th>
        <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="text-center">Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
      </ng-container>
    
      <ng-container matColumnDef="tokens">
        <th mat-header-cell *matHeaderCellDef class="text-center">Total Tokens</th>
        <td mat-cell *matCellDef="let element">{{element.tokens}}</td>
      </ng-container>
    
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center">Actions </th>
        <td mat-cell *matCellDef="let element" class="">
          <a  class="rounded-md bg-blue-500 text-white px-2 py-1 hover:bg-blue-700" routerLink="{{element.id}}"
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page" style="margin-left: 10px;" >Detail</a>
        </td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  